
.header-text{

    font-size: 5vw;
    color: black !important;
    font-weight: bold;

 
}

code{
    color: black !important;
}

.header-descrip
tion{

    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;

}


.newheader{
    padding-top: 100px;

    background-color: white;

    white-space:none;

  
    

}


  


